.logmaindiv{
    background-image:url("https://wallpapers.com/images/featured/ultra-hd-wazf67lzyh5q7k32.jpg");
    height:100vh;
}
.logouttext{
    height:80px;
    padding-top:10px;
    font-size:50px;
    font-weight:bold;
}
.textlog{
    padding-top:200px;
}

